# Docs: https://caddyserver.com/docs/caddyfile

https://meting-api.zdog.top {
    tls /etc/caddy/ssl/15890920_meting-api.zdog.top_nginx/meting-api.zdog.top.pem /etc/caddy/ssl/15890920_meting-api.zdog.top_nginx/meting-api.zdog.top.key
    handle_path /meting* {
       reverse_proxy http://meting-api:3000 {
          header_up X-Forwarded-Host {scheme}://{host}:{port}/meting
       }
    }
 }

http://meting-api.zdog.top {
    handle_path /meting* {
       reverse_proxy http://meting-api:3000 {
          header_up X-Forwarded-Host {scheme}://{host}:{port}/meting
       }
    }
 }


http://testing.meting-api.zz {
    handle_path /meting* {
       reverse_proxy http://meting-api:3000 {
          header_up X-Forwarded-Host {scheme}://{host}:{port}/meting
       }
    }
 }