[mysql]
default-character-set=utf8mb4
[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'
default-storage-engine=ndbcluster #设置默认是NDB存储引擎
ndbcluster
ndb-connectstring=mc-management
[mysql_cluster]
ndb-connectstring=mc-management
[ndbd]
connect-string=mc-management
[ndb_mgm]
connect-string=mc-management
[client]
default-character-set=utf8mb4