[ndbd default]
NoOfReplicas=4
DataMemory=80M
[ndb_mgmd]
NodeId=1
HostName=mc-management
DataDir=/var/lib/mysql
[ndbd]
NodeId=2
HostName=mc-data1
DataDir=/var/lib/mysql
[ndbd]
NodeId=3
HostName=mc-data2
DataDir=/var/lib/mysql
[ndbd]
NodeId=4
HostName=mc-data3
DataDir=/var/lib/mysql
[ndbd]
NodeId=5
HostName=mc-data4
DataDir=/var/lib/mysql
[mysqld]
NodeId=6
HostName=mc-sql1
[mysqld]
NodeId=7
HostName=mc-sql2