# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
default-authentication-plugin=mysql_native_password
bind-address = 0.0.0.0

##新增
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
default-time_zone='+8:00'
log_timestamps = SYSTEM
log-error=/var/lib/mysql/mysql.err
max_allowed_packet=20M

#####redo log##################
innodb_flush_log_at_trx_commit=1

#####undo log##############
innodb_undo_tablespaces=4
innodb_undo_directory=/var/lib/mysql/undo_log
innodb_undo_log_truncate=1

#############bin log#############
log-bin=/var/lib/mysql/mysql-bin
sync_binlog=1
#STATEMENT，ROW，MIXED
binlog_format=ROW
binlog_row_image=FULL
expire_logs_days=1


#######slow log##########
slow_query_log=on
long_query_time=1
slow_query_log_file=/var/lib/mysql/slow_query_log/slow.log

############general log#########
general_log=OFF
general_log_file=/var/lib/mysql/general_log/general.log
log_output=FILE

###########主从复制###############
#skip-host-cache
#skip-name-resolve
server-id=3
read-only=1
super_read_only=1
replicate-ignore-db=mysql
replicate-ignore-db=sys
replicate-ignore-db=information_schema
replicate-ignore-db=performance_schema

########gtid方式复制
#gtid-mode=ON
#enforce-gtid-consistency=ON