version: '3.8'

networks:
  prometheus-network:
    driver: bridge

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    hostname: prometheus
    volumes:
      - ./prometheus/etc:/etc/prometheus/
      - ./prometheus/data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention=200h'
      - '--web.enable-lifecycle'
    ports:
      - "9090:9090"
    networks:
      - prometheus-network

  grafana:
    image: grafana/grafana:latest
    hostname: grafana
    container_name: grafana
    volumes:
      - ./grafana/data:/var/lib/grafana
      - ./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}
      - GF_USERS_ALLOW_SIGN_UP=false
    ports:
      - "3000:3000"
    networks:
      - prometheus-network

  alertmanager:
    image: prom/alertmanager:latest
    hostname: alertmanager
    container_name: alertmanager
    volumes:
      - ./alertmanager/etc:/etc/alertmanager
    command:
      - '--config.file=/etc/alertmanager/config.yml'
      - '--storage.path=/alertmanager'
    ports:
      - "9093:9093"
    networks:
      - prometheus-network

  pushgateway:
    image: prom/pushgateway:latest
    hostname: pushgateway
    container_name: pushgateway
    ports:
      - "9091:9091"
    networks:
      - prometheus-network

  caddy:
    build: ./caddy
    hostname: caddy
    container_name: caddy
    volumes:
      - ./caddy/caddy:/etc/caddy
      - ./caddy/log:/var/log/caddy
      - ./caddy/data:/root/.caddy
    ports:
      - "${CADDY_HOST_HTTP_PORT}:80"
      - "${CADDY_HOST_HTTPS_PORT}:443"
      - "3000:3000"
      - "9093:9093"
      - "9090:9090"
      - "9091:9091"
    environment:
      - ADMIN_USER=admin
      - ADMIN_PASSWORD=admin
      - ADMIN_PASSWORD_HASH=${ADMIN_PASSWORD_HASH:-JDJhJDE0JE91S1FrN0Z0VEsyWmhrQVpON1VzdHVLSDkyWHdsN0xNbEZYdnNIZm1pb2d1blg4Y09mL0ZP}
    networks:
      - prometheus-network

  jaeger:
    build:
      context: ./jaeger
    hostname: jaeger
    container_name: jaeger
    environment:
      - TZ=${TZ}
    ports:
      - "${JAEGER_PORT}:16686"
    networks:
      - prometheus-network

#    nodeexporter:
#      image: prom/node-exporter:v1.3.1
#      container_name: nodeexporter
#      volumes:
#        - /proc:/host/proc:ro
#        - /sys:/host/sys:ro
#        - /:/rootfs:ro
#      command:
#        - '--path.procfs=/host/proc'
#        - '--path.rootfs=/rootfs'
#        - '--path.sysfs=/host/sys'
#        - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
#      restart: unless-stopped
#      expose:
#        - 9100
#      networks:
#        - monitor-net
#      labels:
#        org.label-schema.group: "monitoring"

#    cadvisor:
#      image: gcr.io/cadvisor/cadvisor:v0.43.0
#      container_name: cadvisor
#      privileged: true
#      devices:
#        - /dev/kmsg:/dev/kmsg
#      volumes:
#        - /:/rootfs:ro
#        - /var/run:/var/run:ro
#        - /sys:/sys:ro
#        - /var/lib/docker:/var/lib/docker:ro
#        #- /cgroup:/cgroup:ro #doesn't work on MacOS only for Linux
#      restart: unless-stopped
#      expose:
#        - 8080
#      networks:
#        - monitor-net
#      labels:
#        org.label-schema.group: "monitoring"