version: '3.8'

networks:
  kafka-standalone-network:
    driver: bridge

services:


  #WEB UI
  kafdrop:
    image: obsidiandynamics/kafdrop:latest
    container_name: kafdrop
    hostname: kafdrop
    ports:
      - "9111:9000"
    environment:
      - KAFKA_BROKERCONNECT=${KAFKA_BROKERCONNECT}
      - JVM_OPTS=-Xms16M -Xmx48M -Xss180K -XX:-TieredCompilation -XX:+UseStringDeduplication -noverify
      - TZ=${TZ}
    depends_on:
      - kafka1
    networks:
      - kafka-standalone-network

  kafka-manager:
    image: sheepkiller/kafka-manager:latest
    container_name: kafka-manager
    hostname: kafka-manager
    ports:
      - "9112:9000"
    environment:
      - ZK_HOSTS=${KAFKA_ZOOKEEPER_CONNECT}
      - APPLICATION_SECRET=xulei
      - KM_ARGS=-Djava.net.preferIPv4Stack=true
    depends_on:
      - zookeeper1
    networks:
      - kafka-standalone-network